.bar {
  height: 50px;
  display: inline-block;
}

.graph {
  white-space: nowrap;

  position: relative;
}

.winner {
  text-align: center;
}

.value {
  position: absolute;
  font-size: 30px;
  top: 14px;
  color: white
}

.value1 {
  left: 10px;
}

.value2 {
  right: 10px;
}

.bar1 {
  background-color: red;
}

.bar2 {
  background-color: blue;
}
